<div>
    <h1 class="index-header">{{title}}</h1>
    <div>
        <ul>
            <li>User Id: {{user._id}}</li>
            <li>Username: {{user.username}}</li>
            <li>First Name: {{user.firstName}}</li>
            <li>Last Name: {{user.lastName}}</li>
            <li>Profession: {{user.profession}}</li>
            <li>Bio: {{user.bio}}</li>
        </ul>
        <div>
            <a href="./logout">Logout</a>
        </div>
    </div>
</div>